body {
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    width: 100%;
    background: #ffcc00;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 2px black;
    font-size: 1.8rem;
    display: block;
    margin: 0 15px;
    position: relative;
    transition: all 0.3s ease;
}

nav ul a li {
    padding: 10px;
    transition: transform 0.3s ease;
}

nav ul a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav ul a:hover li {
    transform: scale(1.1);
}

nav ul a:hover::after {
    width: 100%;
}

.list-conteiner {
    margin: 2rem;
    padding: 1rem;
}

.logo {
    height: 150px;
    width: 150px;
}

/* FOOTER */
footer {
    width: 100%;
    background: #ffcc00;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 2px black;
    padding: 10px 0;
    bottom: 0;
}

/* MAIN */
a {
    text-decoration: none;
    color: #333333;
}

.team-section {
    padding: 20px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.professional-card-conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professional-card {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.professional-card h1 {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
}

.professional-card img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

.juegos-section {
    padding: 20px;
    text-align: center;
}

.juego-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#avances {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#avances h2{
    font-size: 1.8rem;
}


#avances p{
    font-size: 1.2rem;
    margin: 0 12px 12px 12px;
}

#presentacion {
    width: 90%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    padding: 10px;
}

#publico-objetivo {
    width: 90%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    padding: 10px;
}

#identidad-visual {
    width: 90%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    padding: 10px;
}

#enlaces {
    width: 90%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    padding: 10px;
}

#logo_web {
    display: flex;
    justify-content: center;
}

#logo_web img{
    width: 250px;
    height: 250px;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
}

/* Media query para pantallas menores o iguales a 500px */
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header div {
    display: flex;
    justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul a {
        /* margin: 5px 0; */
        /* font-size: 1.4rem; */
    }

    .list-conteiner {
        margin: 0;
        padding: 0 0 10px 0;
    }

    .card {
        width: 100%; /* Cambia el ancho de las tarjetas a 100% */
        margin-bottom: 20px;
    }

    .professional-card {
        width: 90%; /* Ajusta el ancho de la tarjeta profesional */
        height: auto; /* Cambia la altura a automático */
    }

    #logo_web img {
        width: 200px; /* Ajusta el tamaño del logo en pantalla pequeña */
        height: 200px;
    }

    .team-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-container a {
        width: 80%;
    }
    
    .card {
        width: inherit;
    }

    .juego-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .juego-container a {
        width: 80%;
    }
}