body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    width: 100%;
    background: #ffcc00;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 2px black;
    font-size: 1.8rem;
    margin: 0 15px;
    position: relative;
    transition: all 0.3s ease;
}

nav ul a li {
    padding: 10px;
    transition: transform 0.3s ease;
}

nav ul a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav ul a:hover li {
    transform: scale(1.1);
}

nav ul a:hover::after {
    width: 100%;
}

.list-conteiner {
    margin: 2rem;
    padding: 1rem;
}

.logo {
    height: 150px;
    width: 150px;
}

/* FOOTER */
footer {
    width: 100%;
    background: #ffcc00;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 2px black;
    padding: 10px 0;
}

/* MAIN */
a {
    text-decoration: none;
    color: #333333;
}

.team-section {
    padding: 20px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.professional-card-conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professional-card {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.professional-card h1 {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
}

.professional-card img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

.juegos-section {
    padding: 20px;
    text-align: center;
}

.juego-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#avances {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avances h2 {
    font-size: 1.8rem;
}

#avances p {
    font-size: 1.2rem;
    margin: 0 12px 12px 12px;
}

#presentacion,
#publico-objetivo,
#identidad-visual,
#enlaces {
    width: 90%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 12px 0;
    padding: 10px;
}

#logo_web {
    display: flex;
    justify-content: center;
}

#logo_web img {
    width: 250px;
    height: 250px;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
}

/* SLIDER JUEGOS */
#slider-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-container {
    /* position: relative; */
    margin-top: 20px;
    margin-bottom: 20px;
    order: 1;
    width: 700px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: inherit;
}

.slide {
    min-width: 700px;
    height: 300px;
    display: flex;
    border-radius: inherit;
}

.tarjeta-juego {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    border-radius: inherit;
    box-sizing: border-box;
    background: rgb(97,22,108);
    background: linear-gradient(45deg, rgba(97,22,108,1) 0%, rgba(176,14,63,1) 30%, rgba(224,255,0,1) 70%);
}

.tarjeta-juego img {
    width: 33%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
}

.tarjeta-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    box-sizing: border-box;
}

.tarjeta-info h2 {
    margin: 0 0 10px;
}

.tarjeta-info p {
    margin: 0;
    font-size: 16px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.prev {
    order: 0;
    left: 200px;
    margin-right: 20px;
}

button.next {
    order: 2;
    right: 200px;
    margin-left: 20px;
}

/* Media query para pantallas menores o iguales a 800px */
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .list-conteiner {
        margin: 0;
        padding: 0 0 10px 0;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .professional-card {
        width: 90%;
        height: auto;
    }

    #logo_web img {
        width: 200px;
        height: 200px;
    }

    .team-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-container a {
        width: 80%;
    }

    .juego-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .juego-container a {
        width: 80%;
    }

    .slider-container {
        width: 400px;
        height: 500px;
    }

    .slide {
        min-width: 400px;
        height: 500px;
    }

    .tarjeta-juego {
        flex-direction: column;
    }

    .tarjeta-juego img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .tarjeta-info {
        width: 100%;
        height: 50%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .tarjeta-info h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .tarjeta-info p {
        font-size: 14px;
    }

    button.prev {
        left: 10px;
    }

    button.next {
        right: 10px;
    }
}