/* Paleta de colores:
    Amarillo    #FFCC00
    Verde       #4CAF50
    Blanco      #FFFFFF
    Negro       #333333   
*/
body {
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    width: 100%;
    background: #ffcc00;
    color: #f8f8f8;
    /* padding: 10px 0; */
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 2px black;
    font-size: 1.6rem;
    display: block;
    margin: 0 15px;
    position: relative;
    transition: all 0.3s ease;
}

nav ul a li {
    padding: 10px;
    transition: transform 0.3s ease;
}

nav ul a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav ul a:hover li {
    transform: scale(1.1);
}

nav ul a:hover::after {
    width: 100%;
}

.list-conteiner {
    margin: 2rem;
    padding: 1rem;
}

.logo {
    height: 150px;
    width: 150px;
}

/* FOOTER */
footer {
    width: 100%;
    background: #ffcc00;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 2px black;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

/* MAIN */
a {
    text-decoration: none;
    color: #333333;
}

.team-section {
    padding: 20px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 1rem;
    /* border-top: solid #ccc 1px; */
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.professional-card-conteiner {
    width: 100%;
    /* height: 87vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.professional-card {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.professional-card h1 {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
}

.professional-card img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

.juegos-section {
    padding: 20px;
    text-align: center;
}

.juego-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}